body{background-color:whitesmoke; 
margin:0 0 auto;}

/* containers */

.container_two{font-family: 'Poppins';
background-color: #eee;
display: flex;
align-items: center;
flex-direction: column;}

.iframe-container{text-align: center;
margin: 20px;
display: none;}

/* search form and buttons */

.container_two #form {margin-bottom:10px;
display: block;}

button{font-family: 'Poppins';
color:white;
background-color: #a0d1c5;
border:1px solid whitesmoke;}
    
button:hover{background-color: #4CAF50;}

/* text tags */

p.index{color:#4CAF50}

p.contact{color:#4CAF50;
width: 500px;
text-align: justify;}

h1{font-family: 'Poppins';
font-size:30px;
color:#f58634;}

c{font-family: "Qwitcher Grypen", cursive;
color:#4CAF50;
font-size:60px;
font-weight:600;}
    
d{color:#f58634;}

/* product display */

.product-details{display:flex;
text-align: center;}

#productInfo{font-family: 'Poppins';
color:#4CAF50;}

/* navbar */

a.nav-link{color: #4CAF50;}
a.nav-link:hover{color:#a0d1c5;}

a.navbar-brand {font-family: "Qwitcher Grypen", cursive;
font-size:40px;
color:#4CAF50;
font-weight: 600;
padding:5px;
margin-left:10px;}

a.navbar-brand:hover{color:#a0d1c5;}

ul.navbar-nav{font-family: Poppins;
color: #4CAF50;
text-transform: uppercase;
margin-right:10px;}
